

    nz-header,
    nz-footer {
      text-align: center;
      background: rgb(187, 187, 187);
      color: black;
    }

    nz-header,  nz-footer {
      height: 45px;
    //   line-height: 45px;
    padding: 0px;
      width: 100%;
    }

    nz-sider {
     background: whitesmoke;
      color: black;
      height: 100vh;
    }

    nz-content {
      background: #ffffff;
      color: #fff;
    }

    :host > nz-layout {
      width: calc(100%);
      max-width: calc(100%);
      overflow: hidden;
    }